<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event management{% endblock %}</title>
    {%block morecss%}{%endblock%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {%block morecssprio%}{%endblock%}

</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li style="float: right">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
            <li style="float: right"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </li>
            {% if user.is_authenticated and user.role == 'artist' or user.role == 'venue' %}
            <!--<li><a href="{% url 'dashboard' %}">Dashboard</a></li>!-->
            <li><a href="{% url 'availabilityform' %}">Availability Form</a></li>
            <li><a href="{% url 'available' %}">Available for events</a></li>
            <li><a href="{% url 'myevents' %}">My events</a></li>
            {% elif user.role == "doorman"%}
            <li><a href="{%url 'ticketvalidation'%}">Validate tickets</a></li>
            {% endif %}
            {% if user.role == "venue" %}
            <li><a href="{% url 'photoupload' %}">Upload photos</a></li>
            {% endif %}
            

        </ul>
    </nav>
    {% block content %}
    {% endblock %}


    <footer>
        <p>© 2025 <b>Sigurd & Vilijam</b></p>
    </footer>
    <script src="../static/js/base.js"></script>
    {%block morejs%}{%endblock%}
</body>

</html>